env.ENV_BUILDNAME="DEV"
env.dpeClFoTag="Development"
env.dpeClFoBuildDate="TimeStamp"
env.DPE_DEPLOY_KEY
def errorMsg

pipeline {
    agent {
        docker {
            image 'envolve-innovation-labs/eil-cibuild-nodejs:sre-1.0.9-2019.07.23'
             args '-u root -v $WORKSPACE/node_modules -v /var/run/docker.sock:/var/run/docker.sock'
        }
    }
    environment {
       dev = 'true'
    }
    stages {
          stage('Prepare Build Info') {
                  steps {
                     //slackSend(color: '#FFFF00', , message: "Started: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL}")
                        script{
                            def now = new Date()
                            def buildDisplayName = "${now.format("yyyyMMdd", TimeZone.getTimeZone('America/New_York'))}:${BUILD_NUMBER}"
                            currentBuild.displayName = buildDisplayName
                            env.ENV_BUILDNAME=buildDisplayName
                            env.dpeClFoTag=sh script: "echo \$(git describe ) | tr -d '\n'", returnStdout: true
                            env.dpeClFoBuildDate=sh script: "echo \$(TZ='EST5EDT,M3.2.0,M11.1.0' date) | tr -d '\n'", returnStdout: true
                        }
                        sh '''
                          echo $PWD
                          echo $WORKSPACE
                          ls -ali $WORKSPACE/node_modules
                          echo "$ gulp compile
[16:26:22] Using gulpfile /mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/packages/evie-client-web/gulpfile.js
[16:26:22] Starting 'compile'...
[16:26:23] Finished 'compile' after 998 ms
$ gulp compile
[16:26:22] Using gulpfile /mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/packages/dpe-client-harnesses/gulpfile.js
[16:26:22] Starting 'compile'...
[16:26:23] Finished 'compile' after 1.6 s
$ gulp compile
[16:26:24] Using gulpfile /mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/packages/evie-client-admin/gulpfile.js
[16:26:24] Starting 'compile'...
[16:26:24] Finished 'compile' after 167 ms
lerna ERR! compile Errored while running script in 'dpe-client-interceptor'
lerna ERR! execute callback with error
lerna ERR! Error: Command failed: yarn run compile
lerna ERR! (!) You have passed an unrecognized option
lerna ERR! Unknown CLI flag: target. Allowed options: acorn, acornInjectPlugins, amd, assetFileNames, banner, c, cache, chunkFileNames, chunkGroupingSize, compact, config, context, d, dir, dynamicImportFunction, e, entryFileNames, environment, esModule, experimentalCacheExpiry, experimentalOptimizeChunks, experimentalTopLevelAwait, exports, extend, external, f, file, footer, format, freeze, g, globals, h, i, indent, inlineDynamicImports, input, interop, intro, m, manualChunks, moduleContext, n, name, namespaceToStringTag, noConflict, o, onwarn, outro, paths, perf, plugins, preferConst, preserveModules, preserveSymlinks, shimMissingExports, silent, sourcemap, sourcemapExcludeSources, sourcemapFile, strict, treeshake, v, w, watch
lerna ERR! 
lerna ERR! src/index.js → dist/ambetter/assets/module, dist/ambetter/assets/system...
lerna ERR! (!) `this` has been rewritten to `undefined`
lerna ERR! https://rollupjs.org/guide/en#error-this-is-undefined
lerna ERR! ../dpe-client-core/lib/hooks/useAdobeAnalytics.js
lerna ERR! 10: import "core-js/modules/es6.array.is-array";
lerna ERR! 11: 
lerna ERR! 12: var _this = this;
lerna ERR!                 ^
lerna ERR! 13: 
lerna ERR! 14: function _slicedToArray(arr, i) {
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/elements/Tabs/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/composites/Popup/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/Alert/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/NoOptionsMessage.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Control.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Option.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Placeholder.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Menu.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/ValueContainer.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/SingleValue.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/MultiValue.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/HotSpot/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/InlineHelp/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/LoadingIndicator/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! (!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/Modal/index.js -> ../dpe-client-foundation/lib/index.js
lerna ERR! [!] Error: 'isMemberEnrolled' is not exported by ../eil-common/lib/index.client.js
lerna ERR! https://rollupjs.org/guide/en#error-name-is-not-exported-by-module-
lerna ERR! ../dpe-client-digital-id-card/lib/utils/fetchIdCard.js (4:0)
lerna ERR! 2: import "core-js/modules/es6.promise";
lerna ERR! 3: import "core-js/modules/es6.object.to-string";
lerna ERR! 4: import "core-js/modules/es6.function.name";
lerna ERR!    ^
lerna ERR! 5: import "core-js/modules/es6.regexp.replace";
lerna ERR! Error: 'isMemberEnrolled' is not exported by ../eil-common/lib/index.client.js
lerna ERR!     at error (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:9365:30)
lerna ERR!     at Module.error (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13272:9)
lerna ERR!     at handleMissingExport (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13194:21)
lerna ERR!     at Module.traceVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13586:17)
lerna ERR!     at ModuleScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:12293:39)
lerna ERR!     at FunctionScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:2961:38)
lerna ERR!     at ChildScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:2961:38)
lerna ERR!     at Identifier$1.bind (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:8313:40)
lerna ERR!     at Identifier$1.getReturnExpressionWhenCalledAtPath (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:8364:18)
lerna ERR!     at CallExpression$1.deoptimizePath (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:10336:53)
lerna ERR! 
lerna ERR! error Command failed with exit code 1.
lerna ERR! $ gulp compile
lerna ERR! [16:26:24] Using gulpfile /mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/packages/dpe-client-interceptor/gulpfile.js
lerna ERR! [16:26:24] Starting 'compile'...
lerna ERR! [16:26:25] Finished 'compile' after 1.21 s
lerna ERR! $ bin/dist.sh
lerna ERR! sending incremental file list
lerna ERR! css/
lerna ERR! css/dpe-noscript.css
lerna ERR! js/
lerna ERR! js/dynamicImport.js
lerna ERR! js/systemImport.js
lerna ERR! 
lerna ERR! sent 3,944 bytes  received 81 bytes  8,050.00 bytes/sec
lerna ERR! total size is 3,642  speedup is 0.90
lerna ERR! info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
lerna ERR! 
lerna ERR!     at Promise.all.then.arr (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/lerna/node_modules/execa/index.js:236:11)
{ Error: Command failed: yarn run compile
(!) You have passed an unrecognized option
Unknown CLI flag: target. Allowed options: acorn, acornInjectPlugins, amd, assetFileNames, banner, c, cache, chunkFileNames, chunkGroupingSize, compact, config, context, d, dir, dynamicImportFunction, e, entryFileNames, environment, esModule, experimentalCacheExpiry, experimentalOptimizeChunks, experimentalTopLevelAwait, exports, extend, external, f, file, footer, format, freeze, g, globals, h, i, indent, inlineDynamicImports, input, interop, intro, m, manualChunks, moduleContext, n, name, namespaceToStringTag, noConflict, o, onwarn, outro, paths, perf, plugins, preferConst, preserveModules, preserveSymlinks, shimMissingExports, silent, sourcemap, sourcemapExcludeSources, sourcemapFile, strict, treeshake, v, w, watch

src/index.js → dist/ambetter/assets/module, dist/ambetter/assets/system...
(!) `this` has been rewritten to `undefined`
https://rollupjs.org/guide/en#error-this-is-undefined
../dpe-client-core/lib/hooks/useAdobeAnalytics.js
10: import "core-js/modules/es6.array.is-array";
11: 
12: var _this = this;
                ^
13: 
14: function _slicedToArray(arr, i) {
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/elements/Tabs/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/composites/Popup/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/Alert/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/NoOptionsMessage.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Control.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Option.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Placeholder.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/Menu.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/ValueContainer.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/SingleValue.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/index.js -> ../dpe-client-foundation/lib/components/AutoComplete/internal/MultiValue.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/HotSpot/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/InlineHelp/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/LoadingIndicator/index.js -> ../dpe-client-foundation/lib/index.js
(!) Circular dependency: ../dpe-client-foundation/lib/index.js -> ../dpe-client-foundation/lib/components/Modal/index.js -> ../dpe-client-foundation/lib/index.js
[!] Error: 'isMemberEnrolled' is not exported by ../eil-common/lib/index.client.js
https://rollupjs.org/guide/en#error-name-is-not-exported-by-module-
../dpe-client-digital-id-card/lib/utils/fetchIdCard.js (4:0)
2: import "core-js/modules/es6.promise";
3: import "core-js/modules/es6.object.to-string";
4: import "core-js/modules/es6.function.name";
   ^
5: import "core-js/modules/es6.regexp.replace";
Error: 'isMemberEnrolled' is not exported by ../eil-common/lib/index.client.js
    at error (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:9365:30)
    at Module.error (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13272:9)
    at handleMissingExport (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13194:21)
    at Module.traceVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:13586:17)
    at ModuleScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:12293:39)
    at FunctionScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/dist/rollup.js:2961:38)
    at ChildScope.findVariable (/mnt/mesos/sandbox/jenkins/workspace/nvolveinnovationlab_PR-1604-ACXS4AWC5VZQEQSKKR3E4B5VTI7AVIHTJNPPXZBK2RS7NPROG3ZQ/node_modules/rollup/di"
                          exit 1
                        ''' 
                  }
                post {
                  failure{
                        script {
                          env.FAILURE_STAGE = 'Build Info'
                          errorMsg = currentBuild.rawBuild.getLog(10) =~ "lerena ERR!"
                        }
                        sh'''
                          echo yarn run mongod-stop
                          pwd
                        '''
                  }
                }  
            }

          stage('Deploy Some Client Foundation') {
              steps{
                withCredentials([string(credentialsId: 'DPEDeployKey', variable: 'DEPLOYKEY')]) {
                    sh '''
                        echo $(dirname ~/)
                        set -x
                        echo "start deploy dpe-client-foundation"
                        cp docker/dpe-script-environment/.aws.credentials.enc ~/
                        dpeBuildTag=$ENV_BUILDNAME

                        echo "'{"buildNumber": "$dpeBuildTag", "tag": "$dpeClFoTag", "buildDate": "$dpeClFoBuildDate" }'"
                        echo "{ \\\"buildNumber\\\": \\\"$dpeBuildTag\\\", \\\"buildDate\\\": \\\"$dpeClFoBuildDate\\\" }" > some-client-text.json
                        echo "deploy key: $DEPLOYKEY"
                        bin/deploy-dpe.sh -p $DEPLOYKEY -j
                        dpeBuildJson="$(curl -s http://d2zn28muh0qa4g.cloudfront.net/STORYBOOK/build-date.json | jq '.buildNumber' | tr -d '"')"
                         if [ $dpeBuildJson != $ENV_BUILDNAME ];
                    then
                        echo "should have failed"
                        exit 0
                    fi
                        exit 0
                    '''
                }  
              }
              post {
                failure {
                  script {
                    env.FAILURE_STAGE = 'Deploy some client'
                    errorMsg = currentBuild.rawBuild.getLog(10)
                  }
                }
              }              
          }      
    }
      post {
          always {
              script {
                  if(currentBuild.result == 'SUCCESS') {
                      slackSend(color: '#00FF00', message: "Changed from FAILURE to SUCCESS: ${env.JOB_NAME} #${env.BUILD_NUMBER}:\n${env.BUILD_URL} ")
                  }
                  if(currentBuild.result == 'FAILURE') {
                    slackSend(color: '#FF0000', message: "SUCCESS to FAILURE: ${env.JOB_NAME} #${env.BUILD_NUMBER}:\n${env.BUILD_URL} in Stage $env.FAILURE_STAGE Error: $errorMsg ")
                  }
              }
          }
       }
}