env.ENV_BUILDNAME="DEV"
env.dpeClFoTag="Development"
env.dpeClFoBuildDate="TimeStamp"
env.DPE_DEPLOY_KEY
pipeline {
    agent {
        docker {
            image 'envolve-innovation-labs/eil-cibuild-nodejs:sre-1.0.9-2019.07.23'
            args '-u root  -v /var/run/docker.sock:/var/run/docker.sock'
        }
    }
    environment {
       dev = 'true'
    }
    stages {
          stage('Prepare Build Info') {
                  steps {
                     //slackSend(color: '#FFFF00', , message: "Started: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL}")
                        script{
                            def now = new Date()
                            def buildDisplayName = "${now.format("yyyyMMdd", TimeZone.getTimeZone('America/New_York'))}:${BUILD_NUMBER}"
                            currentBuild.displayName = buildDisplayName
                            env.ENV_BUILDNAME=buildDisplayName
                            env.dpeClFoTag=sh script: "echo \$(git describe ) | tr -d '\n'", returnStdout: true
                            env.dpeClFoBuildDate=sh script: "echo \$(TZ='EST5EDT,M3.2.0,M11.1.0' date) | tr -d '\n'", returnStdout: true
                        }
                        sh '''
                          exit 0
                        ''' 
                  }
                post {
                  failure{
                        script {
                          env.FAILURE_STAGE = 'Build Info'
                          //slackSend(color: '#FF0000', message: "FAILURE: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL} failed stage ${env.FAILURE_STAGE} ")
                        }
                  }
                }  
            }

          stage('Deploy Some Client Foundation') {
              steps{
                withCredentials([string(credentialsId: 'DPEDeployKey', variable: 'DEPLOYKEY')]) {
                    sh '''
                        set -x
                        echo "start deploy dpe-client-foundation"
                        cp docker/dpe-script-environment/.aws.credentials.enc ~/
                        dpeBuildTag=$ENV_BUILDNAME

                        echo "'{"buildNumber": "$dpeBuildTag", "tag": "$dpeClFoTag", "buildDate": "$dpeClFoBuildDate" }'"
                        echo "{ \\\"buildNumber\\\": \\\"$dpeBuildTag\\\", \\\"buildDate\\\": \\\"$dpeClFoBuildDate\\\" }" > some-client-text.json
                        echo "deploy key: $DEPLOYKEY"
                        bin/deploy-dpe.sh -p $DEPLOYKEY -j
                        dpeBuildJson="$(curl -s http://d2zn28muh0qa4g.cloudfront.net/STORYBOOK/build-date.json | jq '.buildNumber' | tr -d '"')"
                         if [ $dpeBuildJson != $ENV_BUILDNAME ];
                    then
                        echo "Jenkins build display name $ENV_BUILDNAME does not match json content -> $dpeBuildJson"
                        exit 1
                    fi
                        exit 0
                    '''
                }  
              }
              post {
                failure {
                  script {
                    def errorMsg = currentBuild.rawBuild.getLog(10)
                    env.FAILURE_STAGE = 'Deploy some client'
                    slackSend(color: '#FF0000', message: "FAILURE: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL} failed stage ${env.FAILURE_STAGE} Error: errorMsg ")
                  }
                }
              }              
          }      
    }
      post {
       changed {
            script {
                def errorMsg = currentBuild.rawBuild.getLog(10)
                if(currentBuild.result == 'SUCCESS') {
                    slackSend(color: '#00FF00', message: "Changed from FAILURE to SUCCESS: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL}")
                }
                if(currentBuild.result == 'FAILURE') {
                  slackSend(color: '#FF0000', message: "SUCCESS to FAILURE: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL} Error: errorMsg ")
                }
            }
        }
       always {
         script {
            env.FAILURE_STAGE = 'Deploy some client'
            //slackSend(color: '#FFFF00', , message: "Completed: `${env.JOB_NAME}` #${env.BUILD_NUMBER}:\n${env.BUILD_URL}")
         }
       }
    }
}