env.ENV_BUILDNAME="DEV"
env.dpeClFoTag="Development"
env.dpeClFoBuildDate="TimeStamp"
env.DPE_DEPLOY_KEY
env.JENKINS_HOME
def buildDisplayName
def now = new Date() 
def setFailureReason(reason)
{
      env.FAILURE_STAGE=reason
}

pipeline {
    agent {
        docker {
            image 'image-folder/my-docker-image'
             args '-u root -v $WORKSPACE/node_modules -v /var/run/docker.sock:/var/run/docker.sock'
        }
    }
    environment {
       dev = 'true'
    }
    stages {
          stage('Prepare Build Info') {
                  when {
                        anyOf {
                          branch '';
                          branch 'master';
                          branch 'development';
                          branch 'PR-*'
                        }
                    }
                  steps {
                    script {
                      buildDisplayName = "${now.format("yyyyMMdd", TimeZone.getTimeZone('America/New_York'))}:${BUILD_NUMBER}"
                    }
                    sh '''
                      echo yarn run mongod-start
                      exit 1
                    '''
                  }     
                post {
                  failure{
                    setFailureReason("failed prepare build info")
                    sh'''
                      echo yarn run mongod-stop
                    '''
                  }
                }    
            }

          stage('Prepare Branch Build Info') {
              when { 
                anyOf { 
                    branch "release/*" 
                  }
              }
              steps {
                script{       
                    buildDisplayName = "${BRANCH_NAME}:${BUILD_NUMBER}"
                }
              }
          }

          stage('build app') {
            steps {
                        script{
                            currentBuild.displayName = buildDisplayName
                            env.ENV_BUILDNAME=buildDisplayName
                            env.dpeClFoTag=sh script: "echo \$(git describe ) | tr -d '\n'", returnStdout: true
                            env.dpeClFoBuildDate=sh script: "echo \$(TZ='EST5EDT,M3.2.0,M11.1.0' date) | tr -d '\n'", returnStdout: true
                            env.JENKINS_HOME=sh script: "echo \$(dirname \$(dirname \$(pwd))) | tr -d '\n'", returnStdout: true
                        }              
                      sh '''
                        echo "yarn run compile"
                        exit 1
                      '''
                }     
              post {
                failure{
                  script {
                    setFailureReason('build app')
                  }                  
                }
              }    
          }

          stage('unit test') {
            steps {
                      sh '''
                        echo "yarn run test"
                        exit 1
                      '''
                }     
              post {
                failure{
                  script {
                    setFailureReason('Unit test app')
                  }                  
                }
              }    
          }


          stage('Deploy Some Client Foundation') {
              steps{
                withCredentials([string(credentialsId: 'MyDeployKey', variable: 'MYDEPLOYKEY')]) {
                    sh '''
                        echo $(dirname ~/)
                        set -x
                       if [ $dpeBuildJson != $ENV_BUILDNAME ];
                        then
                            echo "should have failed"
                            exit 1
                        fi
                            exit 0
                    '''
                }  
              }
              post {
                failure {
                  script {
                    setFailureReason('Deploy some client')
                  }
                }
              }              
          }      
    }
      post {
          always {
              script {
                  if(currentBuild.result == 'SUCCESS') {
                      slackSend(color: '#00FF00', message: "Changed from FAILURE to SUCCESS: ${env.JOB_NAME} #${env.BUILD_NUMBER}:\n${env.BUILD_URL} ")
                  }
                  if(currentBuild.result == 'FAILURE') {
                    slackSend(color: '#FF0000', message: "SUCCESS to FAILURE: ${env.JOB_NAME} #${env.BUILD_NUMBER}:\n${env.BUILD_URL} in Stage $env.FAILURE_STAGE ")
                  }
              }
              sh'''
                 echo "yarn run stop-mongod"
              '''
          }
       }
}